{% load static %}
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Thayná Quinteiro">
    <link rel="stylesheet" type="text/css" href="{% static '../static/css/cad_atividade.css' %}">
    <script src="https://kit.fontawesome.com/25d4e35f0f.js" crossorigin="anonymous"></script>
    <title>Cadastro de Atividades</title>
</head>

<body>
    <header>
        <nav>
            <div class="nav-bar">

                <h1>Cadastre as atividades da turma</h1>
                <button><a href="{% url 'sair' %}" style="text-decoration: none;color:#e9ecef;">SAIR</a></button>

            </div>
        </nav>
    </header>

    <main>

        <div class="excel">
            <a href="{% url 'exportar_excel_atividade' %}">
                <button>Exportar<i class="fa-solid fa-file-excel"></i></button>
            </a>
        </div>
        

        <div class="tabela" style="display: flex;justify-content: center;align-items: center;padding-top: 50px;">
            <table style="border-collapse: collapse;padding: 30px;text-align: center;font-family: 'Roboto-Condensed', sans-serif;font-size: 17px;border-bottom: 2px solid #495057;gap: 10px;">
                <tr>
                    <th style="padding: 5px;">Número da Atividade</th>
                    <th style="padding: 5px;">Atividades da Turma</th>
                    <th style="padding: 5px;">Arquivo</th>
                    <td></td>
                </tr>

                {% for igs in atividades_da_turma %}
                <tr>
                    <td>{{igs.id}}</td>
                    <td>{{igs.nome_atividade}}</td>
                    <td>
                        {% if igs.arquivo %}
                            <a href="../../{{igs.arquivo}}"><i class="fa-regular fa-file-lines"></i></a>
                            <!-- <a href="{{igs.arquivo}}"><i class="fa-regular fa-file-lines"></i></a> -->
                        {% else %}
                            <p>Não existe arquivos anexados</p>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}

            </table>

        </div>

        <div class="form-turma">

            {% if messages %}
                <ul class="mensagem_do_servidor">
                    {% for mensagem in messages %}
                        <p {% if mensagem.tags %} class="alert alert-{{message.tags}}" {% endif %}>{{mensagem}}</p>
                    {% endfor %}
                </ul>
            {% endif %}

            <div class="turmas">
                <form id="form" class="form" enctype="multipart/form-data" action="{% url 'salvar_atividade_nova' %}" method="post">{% csrf_token %}
                    <input type="hidden" name="id_selecionado" id="id_selecionado" value="{{id_selecionado}}">
                    <label for="descrition">Descrição da Atividade</label>
                    <input type="text" id="nome_atividade" name="nome_atividade" value="" placeholder="Insira a atividade">
                    <input type="file" id="arquivo" name="arquivo" value="Caminho do arquivo">
                    <button type="submit" class="btn_conf_cancel btn_confirmar"><a href="/salvar_atividade_nova/{{id_turma}}"></a>Cadastrar</button>
                </form>
            </div>

            <div class="error-message">
                <!--Mensagem de erro inserida aqui-->
            </div>

        </div>

       

    </main>

</body>

</html>