{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Thayná Quinteiro">
    <link rel="stylesheet" type="text/css" href="{% static 'css/professor.css' %}">
    <title>Página Professor</title>
</head>


<body>

    <header>
        <nav>
            <div class="nav-bar">
               
                <h1>Bem vindo(a) professor, cadastre sua turma!</h1>
                <button>SAIR</button>
               
            </div>
        </nav>
    </header>

    <main>
        <div class="titulos">
           <h3>{nome_professor}</h3>  <!-- aqq o servidor vai ter que jogar o nome inserido no cadastro -->
           <form action="/cadastrar_turma"><button type="submit" name="tela_cadastro">CADASTRAR</button></form>
        </div>

        <div class="tabela">
            <table>

                <tr>
                    <th>Número</th>
                    <th>Turma</th>
                    <th>Ação</th>
                </tr>

                <tr>
                    <td>1</td>
                    <td>Desenvolvimento de Sistemas</td>
                    <td>
                        <button id="exclude">Excluir</button>
                        <button id="view">Vizualizar</button>
                    </td>
                </tr>

                <tr>
                    <td>2</td>
                    <td>Mecatronica</td>
                    <td>
                        <button id="exclude">Excluir</button>
                        <button id="view">Vizualizar</button>
                    </td>
                </tr>

            </table>
        </div>

    </main>


</body>
</body>

</html>