{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Thayná Quinteiro">
    <link rel="stylesheet" type="text/css" href="{% static 'css/professor.css' %}">
    <title>Página Professor</title>
</head>


<body>

    <header>
        <nav>
            <div class="nav-bar">
               
                <h1>Olá, seja bem vindo ao seus sistema de apoio</h1>
                <button><a href="{% url 'sair' %}" style="text-decoration: none;color:#e9ecef;">SAIR</a></button>
               
            </div>
        </nav>
    </header>

    <main>
        <div class="titulos">
           <h3>Professor(a): {{usuario_logado}}</h3>  <!-- aqq o servidor vai ter que jogar o nome inserido no cadastro -->
          <button type="submit" name="tela_cadastro"><a href="/cad_turma/{{id_logado}}" style="text-decoration: none; color: white;">CADASTRAR</a></button>
        </div>

        {% if messages %}
            <ul class="mensagem_do_servidor">
                {% for mensagem in messages %}
                    <p {% if mensagem.tags %} class="alert alert-{{message.tags}}" {% endif %}>{{mensagem}}</p>
                {% endfor %}
            </ul>
        {% endif %}


        <div class="tabela">
            <table>
                <tr>
                    <th>Número</th>
                    <th>Turma</th>
                    <th>Ação</th>
                </tr>

                {% for igs in turmas_do_professor %}
                <tr>
                    <td>{{igs.id}}</td>
                    <td>{{igs.nome_turma}}</td>
                    <td>
                        <button id="exclude"><a href = "/valida_excluir/{{igs.id}}?id_professor={{id_logado}}" style="text-decoration: none; color: white;">Excluir</a></button>

                        <button id="view"><a href="{% url 'lista_atividade' id_selecionado=igs.id %}" style="text-decoration: none; color: white;">Vizualizar</a></button>
                    </td>
                </tr>
                {% endfor %}

            </table>

            

        </div>

    </main>


</body>
</body>

</html>